.range-slider{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 0;
}

.slider{
    width: 100%;
    height: 2px;
    background-color: black;
   margin-top: 20px;
}

.slider .thumb {
    width: 23px;
    height: 23px;
    cursor: grab;
    background: white;
    border-radius: 50%;
    border: 2px solid black;
    top: -9px;
   
}

.track-1 {
    background-color: #275efe ;
   
}

.value {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}