.filter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    border: 1px solid black;
    border-radius: 20px;
    padding: 1rem 2rem;
    width: 250px;
    
}

.filter-arrow{
    cursor: pointer;
    transition: transform 0.3s ease-in;
}

.filter-arrow:hover{
    transform: scale(1.1);
}

.filter-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
width: 100%;
}

.filter hr{
    width: 100%;
   font-weight: 200;
}

.filter-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.filter-category{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.filter-price{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.filter-price-select{
    margin-bottom: 20px;
}

.filter-header-title{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.filter-header-title p{
    font-weight: 600;
    font-size: 1.1rem;
}

.filter-dress-style{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    gap: 1rem;
}

.filter-dress-style-row{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}

.filter-button{
    font-weight: 500;
    font-size: 0.8rem;
    padding: 0.6rem 2rem;
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 60px;
    transition: 0.3s ease-in-out;
    position: relative;
 z-index: 0;
    cursor: pointer;
}

.filter-button::before{
    content: " ";
    width: 0%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
    background-color: white;
    border-radius: 60px;
    color: black;
}

.filter-button:hover{
    color: black;
}

.filter-button:hover::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 60px;
}

.filter-color{
    width: 100%;
}
.filter-color-select{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 15px;

}

.filter-size{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filter-size-select{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;

}

.filter-icon-header-mobile{
    display: none;
}

@media(max-width:1050px) {
    .filter-icon-header{
        display: none;
    }

    .filter-icon-header-mobile{
        display: inline;
    }

    .filter{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;
        border: 1px solid black;
        border-radius: 20px;
        padding: 1rem 2rem;
        width: 500px;
        background: white;
      
    }
}

@media(max-width:850px){
    .filter{
        gap: 0.7rem;
       
        width: 350px;
        
    }
}

@media(max-width:650px) {
    .filter{
        gap: 0.7rem;
        padding: 1.5rem 2rem;
        width: 300px;
        
    }
    .filter-header h1 {
        font-size: 1rem;
    }

    .filter-container{
        gap: 0.7rem;
    }

    .filter-category{
       
        gap: 0.5rem;
    }

    .row{
        font-size: 0.7rem;
    }

    .filter-price{
        gap: 0.5rem;
    }
    
    .filter-price-select{
        margin-bottom: 15px;
    }
    
    .filter-header-title p{
        font-size: 0.9rem;
    }

    .filter-dress-style{
        gap: 0.6rem;
    }

    .filter-dress-style-row{
        gap: 0.6rem;
    }

    
.filter-button{
    font-weight: 500;
    font-size: 0.7rem;
    padding: 0.5rem 2rem;
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 60px;
    transition: 0.3s ease-in-out;
    position: relative;
 z-index: 0;
    cursor: pointer;
}

.filter-button::before{
    content: " ";
    width: 0%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
    background-color: white;
    border-radius: 60px;
    color: black;
}

.filter-button:hover{
    color: black;
}

.filter-button:hover::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 60px;
}

}