.size-input{
    display: flex;
    flex-direction: row;
  
  
}

.size-input-button{ 
    border-radius: 35%;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    color: gray;
}

.size-input-activebutton{
    border-radius: 35%;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: black;
}

@media(max-width:950px){
    .size-input-button{ 
        font-size: 0.7rem;
    }

    .size-input-activebutton{
        font-size: 0.7rem;
    }
}

@media(max-width:650px) {

    
    .size-input-button{ 
        font-size: 0.6rem;
    }

    .size-input-activebutton{
        font-size: 0.6rem;
    }
    

}