.brands{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background: black;
    font-size: 1.8rem;
    padding: 0.5rem 5rem;
}

.brands>:nth-child(1){
    font-weight: 300;
}

.brands>:nth-child(2){
    font-weight: 200;
}

.brands>:nth-child(3){
    font-weight: 100;
}

.brands>:nth-child(4){
    font-weight: 500;
}

.brands>:nth-child(5){
    font-weight: 300;
}

@media (max-width: 1000px) {
    .brands{
        font-size: 1.2rem;
        
    }
}

@media (max-width: 750px) {
    .brands{
        font-size: 1rem;
        
    }
}

@media (max-width: 600px) {
    .brands{
        font-size: 0.7rem;
        
    }
}

@media (max-width: 500px) {
    .brands{
        flex-direction: column;
        font-size: 1rem;
    }
}