.card{
    display: flex;
    flex-direction: column;
width: 250px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
   
}

.card-items{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
border-radius: 30px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */

}

.card-items:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Larger, softer shadow */


}

.card-image{
    max-width: 250px;
    width: 250px;
    border-radius: 30px;
}

.card-title{
    font-size: 1rem;
    margin-top: 1rem;
    padding: 0px 10px;
   
   
}

.stars{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding: 2px 10px;
}


.star-item{color:  rgb(255, 208, 0);}

.stars-number{
    font-size: 0.7rem;
    color: #404040;;
}

.card-price{
    padding: 2px 10px;
    font-size: 1.2rem;
    font-weight: 600;
}

@media(max-width:650px) {
    .card{
    width: 120px;    
    }


    
    .card-image{
        max-width: 120px;
        width: 120px;
    }
    
    .card-title{
        font-size: 0.7rem;
        margin-top: 0.5rem;
        padding: 0px 10px;
       
       
    }
    
    .stars{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 15px;
        padding: 2px 10px;
    }
    
    
    .star-item{color: yellow;}
    
    .stars-number{
        font-size: 0.5rem;
        color: #404040;;
    }
    
    .card-price{
        padding: 2px 10px;
        font-size: 1rem;
        font-weight: 600;
    }
}